*
{
    margin: 0%;
    padding: 0%;
}
header nav
{
    text-align: right;
    background-color: brown;
}
header nav ul li
{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    display:inline-block;
    padding:10px 10px;
    padding-right: 30px;
    
}
header nav ul li a
{
    color: white;
    text-decoration: none;
    font-size:13px;
}
header nav ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
header nav ul li:hover::after
{
    width: 100%;
}
main
{
    height: 704px;
    background-image: url("../images/books\ wallpaper.jpg");
    color: white;
    text-align: center;
}
h1
{
    padding-top: 70px;
    color: yellow;
}
main p
{
    font-size: 18px;
    color: black;
    padding: 30px 30px 30px 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    background-color: white;
    border: 7px solid yellow;
    border-radius: 3px;
}
footer
{
    color: white;
    background-color: black;
    text-align: center;
}