*
{
    margin: 0%;
    padding: 0%;
}
header nav
{
    text-align: right;
    background-color: brown;
}
header nav ul li
{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    display:inline-block;
    padding:10px 10px;
    padding-right: 30px;
    
}
header nav ul li a
{
    color: white;
    text-decoration: none;
    font-size:13px;
}
header nav ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
header nav ul li:hover::after
{
    width: 100%;
}
main
{
    background-image: url("../images/books\ wallpaper.jpg");
    width: auto;
    height: auto;
    text-align: center;
}
.container
{
    padding-top: 30px;
}
.container h1
{
   padding-top: 25px;
   text-align: center;
   color: yellow;
}
.container h2
{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: yellow;
}
.books
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    
}

.book
{
    padding-right: 10px;
    padding-left: 10px;
}

.book:hover
{
    padding-right: 10px;
    padding-left: 10px;
    transform: scale(1.3);    
}


footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    text-align: center;
}